<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <div class="my-2">
                    <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>
                </div>
          

            </ng-template>
            
            <ng-template pTemplate="right">
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
            
            </ng-template>
        </p-toolbar>
        <p-table #dt [value]="vehiculos" [columns]="cols" responsiveLayout="scroll" [rows]="10" [paginator]="true">
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Administrar Vehículos</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Buscar..." class="w-full sm:w-auto" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">id<p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="nombre">nombre<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="descripcions">descripcions<p-sortIcon field="descripcions"></p-sortIcon></th>
                    <th></th>
                </tr>

                <ng-template pTemplate="body" let-vehiculos>
                    <tr>
                        <td style="width:25%; min-width:2rem;">
                            <span class="p-column-title">Id</span>
                            {{vehiculos.code || vehiculos.id}}
                        </td>
                        <td style="width:25%; min-width:5rem;">
                            <span class="p-column-title">Nombre Vehículo</span>
                            {{vehiculos.nombreVehiculo}}
                        </td>
                        <td style="width:25%; min-width:8rem;">
                            <span class="p-column-title">Descripción</span>
                            {{vehiculos.descripcion}}
                        </td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                    (click)="editVehiculo(vehiculos)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteVehiculo(vehiculos)"></button>
                            </div>
                    </tr>
                </ng-template>
            </ng-template>
        </p-table>
        </div>
    </div>
</div>
